#title {
  background-color: rgb(227, 169, 231);
}

.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}

h1 {
  font-family: 'Agbalumo', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: cornsilk;
}

h2 {
  color: cornsilk;
  font-family: 'Agbalumo';
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Agbalumo';
  font-weight: bold;
  color: cornsilk;
}

.feature-content {
  color: black;
  font-weight: bold;
  font-family: 'Agbalumo';
  text-align: center;
  font-size: 2.5rem;
}

.feature-paragraph{
  color: darkorange;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10% 15%;
}

p {
  color: darkgray;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Agbalumo';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.navbar-link {
  font-family: 'Agbalumo', sans-serif;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
  z-index: -1;
  position: absolute;
}
  @media (max-width: 1028px){
    #title {
      text-align: center;
    }
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }

#features {
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: rgb(204, 123, 175);
  margin: 1rem;
}

.icon:hover {
  color: rgb(230, 163, 39);
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: rgb(107, 236, 188);
}

.testimonial-image {
  width: 25%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-image-1 {
  width: 25%;
  border-radius: 10%;
  margin: 20px;
}

.testimonial-content {
  color: rgb(119, 79, 5);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: rgb(107, 236, 188);
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

#cta {
  background-color: rgb(227, 169, 231);
  color: cornsilk;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Agbalumo';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;

}

.social-icon {
  margin: 20px 10px;
}

.card {
  background-color: rgb(231, 205, 158);
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-heading {
  color: black;
  font-family: 'Agbalumo';
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.5;
}

.prices {
  color: cornflowerblue;
  text-align: center;
  font-family: 'Agbalumo';
  font-weight: bold;
}

.pricing-label {
  color: dimgrey;
  font-weight: bold;
  font-size: 1rem;
}

.btn:hover {
  color: coral;
}

.btn-price:hover {
  color: coral;
}

.btn {
  background-color: cornsilk;
  color: cornflowerblue;
  font-weight: bold;
  text-align: center;
}

.btn-price {
  background-color: cornsilk;
  color: cornflowerblue;
  font-weight: bold;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}


